<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>This is my homepage</title>
  <link href="assests/bootstrap-5.3.2-dist/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" href="assests/bootstrap-5.3.2-dist/css/home.css" />
  <!-- <link rel="stylesheet" href="assests/bootstrap-5.3.2-dist/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="assests/bootstrap-5.3.2-dist/css/style.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css">



  <!-- --------------------------------------------------------Fonts------------------------------------------------------- -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body>
  <!-- --------------------------------------------------------NAVBAR------------------------------------------------------- -->

  <div class=" my-3 mx-5 text-center">
    <nav class="navbar nav navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid mx-5">
        <a class="navbar-brand" href="/"><span class="logo">Travel Treasury</span> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"><img class="navbar-icon" src="assests/images/homepage.png">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/budget"><img class="navbar-icon" src="assests/images/money-bag.png">Budget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/class"><img class="navbar-icon" src="assests/images/people.png">Class</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><img class="navbar-icon" src="assests/images/contact-form.png">Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#help"><img class="navbar-icon" src="assests/images/question.png">Help</a>
            </li>
          </ul>
          <!-- {{!-- -----About us---- --}} -->
          <div class="slide" onclick="showSidebar()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
              <path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z" />
            </svg>
            <p>About us</p>
          </div>
          <!-- {{!-- ----------------------------- --}} -->
        </div>
      </div>
    </nav>

    <!-- --------------------------------------------------------NAVBAR END------------------------------------------------------- -->

    <div class="sidebar">
      <div onclick="hideSidebar()">
        <div class="slide">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
            <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
          </svg>
          <p>Main page</p>
        </div>
        <section class="image-grid">
          <img src="assests/images/UV.jpg" alt="Image">
        </section>
        <section class="text-grid">
          <h2>Welcome to our website</h2>
          <p>Hello, fellow wanderers! We are Ujjwal & Vaishnavi, a dynamic duo of passionate travelers turned tech
            enthusiasts.
            Our journey began with a shared love for exploring new places, discovering diverse cultures, and creating
            unforgettable memories.
            Inspired by our adventures, we embarked on a new quest to make travel planning simpler and budgeting
            hassle-free.</p>
          <h5>Our Story:</h5>
          <p>The idea for Travel Treasury was born during one of our backpacking trips when we faced the challenges of
            managing our travel expenses efficiently.
            Determined to find a solution, we decided to combine our fresh perspectives and tech skills to create a
            user-friendly platform that would revolutionize the way people plan and manage their travel budgets.</p>
        </section>
      </div>
    </div>
    <!-- {{!-- -------------------------home---------------------------------       --}} -->

    <div id="carouselExample" class="row carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assests/images/home.jpg" class="d-block custom-img main-image" alt="groupicon" />
          <div class="home-content">
            <div class="tag1">
              <p>Travel Treasury</p>
            </div>
            <div class="tag2">
              <p>
                Your Ultimate Companion for Budgeting Your Travel Expenses
              </p>
              <div>
                <p class="tag3">
                  Embark on your next adventure with confidence and financial clarity, At Travel Treasury,<br>
                  we understand the importance of smart budgeting when it comes to travel. Whether you're planning a<br>
                  weekend getaway or a globetrotting expedition, we're here to help you make the most of every penny<br>
                  while exploring the world.
                </p>
              </div>
              <button id="login" type="button" onclick="toggleLoginForm()">
                Log In
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div>

      <!-- {{!-- --------------------------Home page---------------------- --}} -->

      <p class="key-feature">Key Feature</p>
      <div class="horizontal-container">
        <div class="ticket">
          <div>
            <img class="img" src="assests/images/feature1.jpg" alt="">
          </div>
          <p class="img-tag">Expense Tracking</p>
          <div class="content">
            <p>Users can track expenses within a group. They can input the names of group members and record the amount
              each member has paid.</p>
          </div>
        </div>
        <div class="ticket">
          <div>
            <img class="img" src="assests/images/feature2.jpg" alt="">
          </div>
          <p class="img-tag">Group Management</p>
          <div class="content">
            <p>Users can set a group name to categorize expenses. The group name is prominently displayed on the page
              once set..</p>
          </div>
        </div>
        <div class="ticket">
          <div>
            <img class="img" src="assests/images/feature3.png" alt="">
          </div>
          <p class="img-tag">Dynamic Input Fields</p>
          <div class="content">
            <p>The website dynamically generates input fields for member names based on the count provided by the user.
            </p>
          </div>
        </div>
        <div class="ticket">
          <div>
            <img class="img" src="assests/images/feature4.png" alt="">
          </div>
          <p class="img-tag">Total Calculation</p>
          <div class="content">
            <p>Users can calculate the total amount spent by each member and the grand total of expenses within the
              group.</p>
          </div>
        </div>
        <div class="ticket">
          <div>
            <img class="img" src="assests/images/feature5.jpg" alt="">
          </div>
          <p class="img-tag">Data Submission</p>
          <div class="content">
            <p>After entering the expense details, users can submit the data. This likely involves sending the entered
              data to a server-side endpoint for further processing.</p>
          </div>
        </div>
        <div class="ticket">
          <div>
            <img class="img" src="assests/images/feature6.jpg" alt="">
          </div>
          <p class="img-tag">Visual Enhancements</p>
          <div class="content">
            <p> The website utilizes images and icons to enhance the visual appeal, such as the header image and the
              group icon.</p>
          </div>

        </div>


      </div>

      <div id="help">
        <div class="container">

          <h2>How to Use This Website</h2>

          <div class="dropdown-container">
            <button class="dropdown" onclick="toggleDropdown(1)">
              Section 1: Getting Started
              <img src="assests/images/arrow.png" alt="Arrow" class="arrow">
            </button>
            <div class="dropdown-content" id="dropdown1">
              <p>Welcome to our website! To get started:</p>
              <ul>
                <li>Step 1: Lorem ipsum dolor sit amet.</li>
                <li>Step 2: Consectetur adipiscing elit.</li>
                <li>Step 3: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Step 4: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo
                  consequat.</li>
              </ul>
            </div>
          </div>

          <div class="dropdown-container">
            <button class="dropdown" onclick="toggleDropdown(2)">
              Section 2: Features
              <img src="assests/images/arrow.png" alt="Arrow" class="arrow">
            </button>
            <div class="dropdown-content" id="dropdown2">
              <p>Discover the amazing features of our website:</p>
              <ul>
                <li>Feature 1: Lorem ipsum dolor sit amet.</li>
                <li>Feature 2: Consectetur adipiscing elit.</li>
                <li>Feature 3: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Feature 4: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.</li>
                <li>Feature 5: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                  nulla
                  pariatur.</li>
              </ul>
            </div>
          </div>

          <div class="dropdown-container">
            <button class="dropdown" onclick="toggleDropdown(3)">
              Section 3: Account Settings
              <img src="assests/images/arrow.png" alt="Arrow" class="arrow">
            </button>
            <div class="dropdown-content" id="dropdown3">
              <p>Manage your account settings:</p>
              <ul>
                <li>Setting 1: Lorem ipsum dolor sit amet.</li>
                <li>Setting 2: Consectetur adipiscing elit.</li>
                <li>Setting 3: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              </ul>
            </div>
          </div>

          <div class="dropdown-container">
            <button class="dropdown" onclick="toggleDropdown(4)">
              Section 4: Troubleshooting
              <img src="assests/images/arrow.png" alt="Arrow" class="arrow">
            </button>
            <div class="dropdown-content" id="dropdown4">
              <p>Troubleshoot common issues:</p>
              <ul>
                <li>Issue 1: Lorem ipsum dolor sit amet.</li>
                <li>Issue 2: Consectetur adipiscing elit.</li>
                <li>Issue 3: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              </ul>
            </div>
          </div>
        </div>




        <!-- -----------------footer----------------- -->

        <footer id="contact">
          <div class="row">
            <div class="col">
              <p class="logo2">Travel Treasury</p>
              <br />
              <p>
                Embark on your next adventure with confidence and financial clarity, At Travel Treasury,
                we understand the importance of smart budgeting when it comes to travel. Whether you're planning a
                weekend getaway or a globetrotting expedition, we're here to help you make the most of every penny
                while exploring the world.
              </p>
            </div>

            <div class="col">
              <h3>
                Address

                <div class="underline"><span></span></div>
              </h3>
              <p>
                Shri Guru Gobind Singhji institute of engineering and Technology,Vishnupuri, Nanded, Maharastra,
                India,431 606
              </p>

              <p class="email-id">Vaishnavi@gmail.com</p>
              <h4>+91-1234567890</h4>
            </div>
            <div class="col">
              <h3>
                Links
                <div class="underline"><span></span></div>
              </h3>

              <ul class="footer-nav">
                <li><a href="home">Home</a></li>
                <li><a href="budget">Budget</a></li>
                <li><a href="class">Class</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="about">About us</a></li>
                <li></li>
              </ul>
            </div>
            <div class="col">
              <h3>
                Social
                <div class="underline"><span></span></div>
              </h3>
              <div class="social-icons">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-github"></i></a>
                <!-- <i class="fa-brands fa-pi"></i> -->
              </div>
            </div>
          </div>
        </footer>



      </div>
    </div>
    <!-- --------------------------------------------------------HOME END------------------------------------------------------- -->

    <script src="assests/bootstrap-5.3.2-dist/js/home.js"></script>
    <!-- <script src="assests/bootstrap-5.3.2-dist/js/script.js"></script>
  <script src="assests/bootstrap-5.3.2-dist/js/swiper-bundle.min.js"></script> -->

    <script>
      function toggleDropdown(id) {
        var dropdownContent = document.getElementById("dropdown" + id);
        var arrow = document.querySelector("#dropdown" + id + " .arrow");

        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          arrow.classList.remove("rotate-arrow");
        } else {
          dropdownContent.style.display = "block";
          arrow.classList.add("rotate-arrow");
        }
      }
    </script>

    <script>

      function toggleLoginForm() {
        // Navigate to another page
        window.location.href = "login"; // Change "anotherpage.html" to the desired page URL
      }

      function showSidebar() {
        const sidebar = document.querySelector(".sidebar");
        sidebar.style.display = 'flex';
        showSidebar.scrollIntoView({ behavior: 'smooth' });

      }
      function hideSidebar() {
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = "none";
        hideSidebar.scrollIntoView({ behavior: 'smooth' });

      }
    </script>
</body>

</html>