* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    color: white;
    /* background: url('images/backimg.jpg') no-repeat fixed center  ; */
    background: #001b29 no-repeat;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 3%;
    background-color: rgba(0, 0, 0, 0.62);
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  .logo {
    position: relative;
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    font-family: 'Lumanosimo', cursive;
    cursor: default;
    animation: slideRight 1s ease forwards;
    text-decoration: none;
    

  }
  
.logo:hover {
    color:white;
  }
  
.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #d1d1d1;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Phudu', cursive;
    transition: 0.3s;
    animation: slidetop 0.5s ease forwards;
    padding: 10px;
    
  }
  
.navbar a:hover {
    color: rgb(255, 255, 255);
  }

  
@keyframes slideRight {
    0% {
      transform: translatex(-100px);
      opacity: 0;
    }
    100% {
      transform: translatex(0px);
      opacity: 1;
    }
  }
  
  @keyframes slidetop {
    0% {
      transform: translatey(-100px);
      opacity: 0;
    }
    100% {
      transform: translatey(0px);
      opacity: 1;
    }
  }
  
  @keyframes slidebottom {
    0% {
      transform: translatey(100px);
      opacity: 0;
    }
    100% {
      transform: translatey(0px);
      opacity: 1;
    }
  }
  
  @keyframes slideright {
    0% {
      transform: translatex(-100px);
      opacity: 0;
    }
    100% {
      transform: translatex(0px);
      opacity: 1;
    }
  }
  
  @keyframes slideleft {
    0% {
      transform: translatex(100px);
      opacity: 0;
    }
    100% {
      transform: translatex(0px);
      opacity: 1;
    }
  }
  #backimg{
    width: 100vw;
    height: 120vh;
  }
  .home-content{
    position: relative;
    text-align: center;
    bottom: 500px;
    
  }
  .tag1{
    font-family: 'Phudu', cursive;
}