body{
    background-color: #000;
    margin: 0;
    width:100%;
    text-align: center;
    /*overflow:hidden;*/
  }
  
  canvas{
    height: 85vh;
  }
  
  .thanks{
    color:#333;
    border: solid #333 2px;
    text-align:center;
    height:40px;
    width: 25%;
    float:right;
    margin-right:40px;
    margin-top: 40px;
    border-radius: 100px;
    font-family: Helvetica;
    font-size:12px;
    font-weight:bold;
    line-height: 15px;
  }
  
  .thanks p:nth-of-type(1){
    margin-top: 4px;
  }
  
  .thanks a{
    color: #0f4f4f
  }