body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
  }
  .container1 {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    /* justify-content: space-between; */
  }
  .developer {
    width: 45%;
  }
  .developer img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .developer-info {
    margin-top: 20px;
    text-align: center;
  }

  #section{
    
  }


  /* ------------------------------------------------------------navigation bar start--------------------------------------- */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  .home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  
  /* .navbar-logo {
    width: 10px;
    height: 10px;
    background: url(TT.png);
    margin-right: 10px;
  } */
  
  .TT {
    height: 12vh;
    margin-left: 10%;
  }
  
  #navbar-toggle {
    /* display: none; */
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .icon-bar {
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.26);
    margin: 4px 0;
    transition: background-color 0.3s;
  }
  
  #navbar-menu {
    display: flex;
  }
  
  .navbar-links {
    list-style: none;
    padding: 4vh;
    display: flex;
  }
  
  .navbar-item {
    margin-left: 20px;
    font-size: 1.3vw;
    margin-right: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    font-family: 'Lugrasimo', cursive;
  }
  
  .navbar-link:hover {
    border-bottom: 2px solid white;
  }
  
  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    #navbar-toggle {
      display: block;
    }
  
    .icon-bar {
      width: 25px;
    }
  
    #navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: #33333333;
      top: 60px;
      right: 0;
      left: 0;
    }
  
    .navbar-links {
      display: flex;
      flex-direction: column;
    }
  
    .navbar-item {
      margin: 10px 0;
      margin-left: 0;
  
    }
  
  
    /* Show/hide the menu when the button is clicked */
    #navbar-toggle[aria-expanded="true"]+#navbar-menu {
      display: flex;
    }
  }
  
  /* ------------------------------------------------------------navigation bar end--------------------------------------- */


  