body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}




.area {
  background: #000000;
  background: -webkit-linear-gradient(to left, #d1d3fa, #cfd1ee);
  width: 100%;
  height: 85vh;
  margin: 0;
}

.circles {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #000000c3;
  box-shadow: 0 0 50px #cadef7c4, 0 0 100px #cadef7c4, 0 0 150px #cadef7c4,
    0 0 200px #cadef7c4;
  animation: animate 25s linear infinite;
  bottom: -150px;
  text-align: center;
  padding: 5vh;
  font-size: 5vh;
}


.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;

}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 60px;
  height: 60px;
  animation-delay: 1s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 100px;
  height: 100px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 35px;
  height: 35px;
  animation-delay: 12s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.container1 {
  z-index:100;
  border: solid white 2px;
  max-width: 800px;
  margin: 0 auto;
  padding: 6vh 5vw;
  margin-bottom: 2vh;
  background-color: rgba(0, 0, 0, 0.718);
  text-align: center;
  opacity: 100%;
  
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

.contact-form {
  margin-top: 20px;
}

.form-group {
  text-align: left;
  /* margin-bottom: 20px; */

}

.form-group label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px 10px grey;
  background-color: #202323;
  color: #fff;
}

.form-group textarea {
  resize: vertical;
  min-height: 150px;
}

.form-group input[type="submit"] {
  background-color: rgba(0, 238, 255, 0.866);
  color: #fff;
  border: 2px white solid;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: rgba(0, 238, 255, 0.526);
}

@media (max-width: 768px) {
  h1 {
      font-size: 28px;
  }
  p {
      font-size: 16px;
  }
  .form-group label {
      font-size: 18px;
  }
  .form-group input[type="text"],
  .form-group textarea {
      font-size: 14px;
  }
  .form-group input[type="submit"] {
      font-size: 16px;
  }
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  .home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  
  /* .navbar-logo {
    width: 10px;
    height: 10px;
    background: url(TT.png);
    margin-right: 10px;
  } */
  
  .TT {
    height: 12vh;
    margin-left: 10%;
  }
  
  #navbar-toggle {
    /* display: none; */
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .icon-bar {
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.26);
    margin: 4px 0;
    transition: background-color 0.3s;
  }
  
  #navbar-menu {
    display: flex;
  }
  
  .navbar-links {
    list-style: none;
    padding: 4vh;
    display: flex;
  }
  
  .navbar-item {
    margin-left: 20px;
    font-size: 1.3vw;
    margin-right: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    font-family: 'Lugrasimo', cursive;
  }
  
  .navbar-link:hover {
    border-bottom: 2px solid white;
  }
  
  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    #navbar-toggle {
      display: block;
    }
  
    .icon-bar {
      width: 25px;
    }
  
    #navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: #33333333;
      top: 60px;
      right: 0;
      left: 0;
    }
  
    .navbar-links {
      display: flex;
      flex-direction: column;
    }
  
    .navbar-item {
      margin: 10px 0;
      margin-left: 0;
  
    }  
    #navbar-toggle[aria-expanded="true"]+#navbar-menu {
      display: flex;
    }
  }
  

  .section{
    display: flex;
    flex-direction: column;
    align-items: center; 

  }


#tag{
  font-family: 'Courgette', cursive;
  color: #0ef;
  font-size: 6vh;
  letter-spacing: 1px;
}
